@import url("https://fonts.googleapis.com/css?family=Comfortaa|Kaushan+Script|Oswald&display=swap");

// $dark-theme: false !default;

$dark-primary-color: rgb(150, 65, 255);
$dark-primary-variant: #6c63ff;
$dark-secondary-color: #03dac5;
$dark-on-primary: #000;
$dark-on-background: rgba(255, 255, 255, 0.9);
$dark-on-background-alt: rgba(255, 255, 255, 0.7);
$dark-background: #121212;

$light-primary-color: rgb(255, 92, 92);
$light-primary-variant: #ff2d2d;
$light-secondary-color: #1b9999;
$light-on-primary: rgb(250, 250, 250);
$light-on-background: rgb(66, 66, 66);
$light-on-background-alt: rgba(66, 66, 66, 0.7);
$light-background: rgb(255, 255, 255);
$light-box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);

$large: 4rem;
$medium: 2.75rem;
$small: 2rem;
$smallest: 1.3rem;
