@import "config";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack-alt;
  margin: 0;
  color: $light-on-background;
  background-color: $light-background;
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  a {
    color: $light-primary-color;
    &:hover,
    &:focus {
      color: $light-on-background;
    }
  }
  .fab {
    color: $light-primary-color;
  }

  &.darktheme {
    margin: 0;
    color: $dark-on-background;
    background-color: $dark-background;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

    a {
      color: $dark-primary-color;
      &:hover,
      &:focus {
        color: $dark-on-background;
      }
    }
    .image-container h2 {
      color: $dark-primary-color;
    }
    .fab {
      color: $dark-primary-color;
    }
  }
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: $font-stack;
}

h1 {
  font-size: 100px;
  margin-bottom: 0;
}

h2 {
  font-size: 32px;
  font-weight: normal;
}

/* Navigation */

nav {
  z-index: 10;
  position: fixed;
  font-size: 24px;
  letter-spacing: 3px;
  padding: 25px;
  width: 100vw;
  background: rgba(255, 255, 255, 0.5);
}

a {
  margin-right: 25px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;

  &:hover,
  &:focus {
    border-bottom: 3px solid;
  }
}

/* Home Section */

.title-group {
  text-align: center;
}

/* About Section */

.about-container {
  display: flex;
}

.image-container {
  border: 1px solid $light-secondary-color;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 25px;
  width: auto;
  background: $light-background;
  box-shadow: $light-box-shadow;
}

img {
  height: 300px;
  width: 300px;
}

/* Projects Section */

.buttons {
  margin-top: 15px;
  margin-bottom: 50px;
}

button {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid $light-primary-color;
  font-size: 15px;
  outline: none;

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }

  &:hover:not(.outline) {
    filter: brightness(110%);
  }
}

.primary {
  background: $light-primary-color;
  color: $light-on-primary;
}

.secondary {
  border: 2px solid $light-secondary-color;
  background: $light-secondary-color;
  color: $light-on-primary;

  &:hover {
    background: $light-secondary-color;
    color: $light-on-primary;
  }
}

.outline {
  &.secondary:hover {
    background: $light-secondary-color;
    color: $light-on-primary;
  }

  background: $light-background;
  color: $light-on-background;

  &:hover {
    background: $light-primary-color;
    color: $light-on-primary;
  }
}

.text-box {
  width: 40%;
  text-align: justify;
  background: rgba(0, 0, 0, 50%);
  color: $light-on-primary;
  border-radius: 10px;
  padding: 30px;
}

p {
  margin: 0;
  line-height: 25px;
}

/* Contact Section */

.fab {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
  color: $light-primary-color;

  &:hover {
    color: $light-on-background;
  }
}

/* Dark Mode Toggle */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
  top: 30px;

  span {
    margin-right: 10px;
    font-size: 1rem;
  }
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  // color: $dark-on-background;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;

  input {
    display: none;
  }
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;

  &::before {
    background: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
}

input:checked + .slider {
  background: $light-primary-color;

  &::before {
    transform: translateX(26px);
  }
}

.slider.round {
  border-radius: 34px;

  &::before {
    border-radius: 50%;
  }
}

.fas {
  font-size: 30px;
  margin-right: 5px;
}
